#后端
smart-teaching-backend/target/
smart-teaching-backend/.idea/
smart-teaching-backend/*.iml
smart-teaching-backend/logs/
smart-teaching-backend/*.log

#前端
smart-teaching-web/node_modules/
smart-teaching-web/dist/
smart-teaching-web/.vite/

#本地nginx工具
nginx-1.31.3/

#系统文件
.DS_Store
Thumbs.db
